<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aheadinabox.alllightsoff"
          android:installLocation="auto">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.aheadinabox.alllightsoff.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.aheadinabox.alllightsoff.MenuActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name="com.aheadinabox.alllightsoff.BoardActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name="com.aheadinabox.alllightsoff.LevelsActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity android:name="com.aheadinabox.alllightsoff.Utilities">
        </activity>
        <activity
            android:name="com.aheadinabox.alllightsoff.SettingsActivity"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name="com.aheadinabox.alllightsoff.HelpActivity"
            android:screenOrientation="fullSensor">
        </activity>
    </application>

</manifest>